---
layout: default
title: Digital Citizenship
lang: en
---

{% include setlang.html %}

<div class="u-background-50 u-textCenter u-padding-r-all u-textCenter u-padding-bottom-xxl">
  <h2 class="u-layoutCenter u-text-r-l u-textWeight-300 u-color-white u-margin-top-l u-lineHeight-l"
    style="max-width: 20em">
    {{ t.home_hero }}</h2>
</div>

<hr class="Separator-room u-background-50" />
<hr class="Separator Separator--up u-background-grey-15" />

<section class="u-nbfc u-background-grey-15 u-layout-r-withGutter u-padding-r-top u-padding-r-bottom u-posRelative u-zindex-30">
  <div class="u-layout-wide u-layoutCenter">
    <h2 class="u-text-r-l u-textWeight-300 u-color-50 u-padding-r-bottom">{{ t.home_projects_title }}</h2>
  </div>
</section>
